@model SalaryApplication.Models.User
@{
    ViewData["Title"] = "UserVerification";
}
<div class="container p-2">

    <h4>Welcome @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)!</h4>
</div>